<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1 class="well">All tickets</h1>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Date & Time</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of tickets">
                <td>
                    <a class="btn btn-block bt-md btn-primary" (click)="onSelect(ticket)">{{ticket.id}}</a>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-md" (click)="onSelectPicture(ticket)">
                        <span class="glyphicon glyphicon-camera"></span> <span>Show picture</span>
                    </button>
                </td>
                <td class="well well-sm">
                    {{ticket.datetime | date:'fullDate'}}
                </td>
                <td class="success">
                    {{ticket.status}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>