<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Φόρμα καταχώρησης νέου μηνύματος</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Φόρμα καταχώρησης νέου μηνύματος</h1>
<form action="#" th:action="@{/newticket}" th:object="${ticket}" method="post">
    <p>Message: <input type="text" th:field="*{message}"/></p>
    <p>Latitude: <input type="number" step="0.000001" th:field="*{latitude}"/></p>
    <p>Longitude: <input type="number" step="0.000001" th:field="*{longitude}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>