body, html {
    background-color: #607d8b;
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    color: whitesmoke;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: lighter;
    font-size: 140%;
    border-bottom: 1px solid ;
}
