<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="'Ticket preview : ' + ${ticket.id}"></title>
    <meta th:replace="fragments/head :: head"/>
    <meta th:replace="fragments/maps :: maps"/>

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div th:replace="fragments/header :: header"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <ul class="nav nav-pills nav-stacked pager" data-spy="affix" data-offset-top="0">
                <li class="previous"><a th:href="@{/tickets}"><span aria-hidden="true">&larr;</span> Back</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <h1 class="well" th:text="'Ticket number  : ' + ${ticket.id}"></h1>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Ticket message</div>
                <div class="panel-body" th:text="${ticket.message}"></div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Picture location</div>
                <div id="googleMap" class="panel-body" style="height:470px;"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Picture</div>
                <a th:href="@{/image(id=${ticket.id})}" data-toggle="tooltip" data-placement="bottom"
                   title="Show full size">
                    <img class="img-responsive" th:src="@{/image(id=${ticket.id})}"/>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>