<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>'Ολα τα μηνύματα</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>'Ολα τα μηνύματα</h1>
<table>
    <thead>
    <tr>
        <th>Αριθμός</th>
        <th>Ημερομηνία και Ώρα</th>
        <th>Φωτογραφία</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.getDateTime()}"></td>
        <td>link gia provolh edw</td>
    </tr>
    </tbody>
</table>
</body>
</html>