<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{global.appname}"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/tickets}" th:text="#{nav.tickets}"></a></li>
        </ul>

        <!--Right side-->
        <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
            <li><a href="#" th:href="@{/register}"> <span class="glyphicon glyphicon-user"></span>
                <span th:text=" #{nav.register}"></span>
            </a></li>
            <li><a href="#" th:href="@{/login}"> <span class="glyphicon glyphicon-log-in"></span>
                <span th:text=" #{nav.login}"></span>
            </a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li>
                <a href="#"><span class="glyphicon glyphicon-user"></span> <span sec:authentication="name"></span></a>
            </li>
            <li>
                <!--Submit dummy form to /logout to perform post logout-->
                <form id="logoutForm" th:action="@{/logout}" method="post"></form>
                <a href="#" onClick="document.forms['logoutForm'].submit();">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <span th:text="#{nav.logout}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>